body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000000;
    color: #ffffff;
}

ul {
    margin: 0;
    padding: 0 5vw;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.navbarItem {
    list-style: none;
}

.banner {
    background: url(https://images.unsplash.com/photo-1512790182412-b19e6d62bc39?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80) no-repeat center center/cover;
    background-attachment: fixed;
    height: 75vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainText {
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
}

.smallText {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    background-color: #00000046;
    padding: 2.5vh 2.5vw;
    border-radius: 10px;
}

.futureOfInfluencers .h1 {
    padding: 5vh 10vw;
    width: 100%;
}

.influencer {
    height: 100%;
    width: 100%;
}

.facts {
    margin-top: 10vh;
    width: 50vw;
    margin: 7.5vh auto 0 auto;
    font-family: 'Work Sans', sans-serif;
}

.futureOfInfluencers p {
    text-align: center;
    font-size: 1.25rem;
    padding: 1.25vh 0;
}

.bottomInfluencer {
    padding-top: calc(var(--bs-gutter-x));
}

.button {
    width: 100vw;
    display: flex;
    align-items: center;
    padding-bottom: 10vh;
}

.button button {
    text-align: center;
    width: 10vw;
    height: 10vh;
    margin: auto;
    border: 0;
    transition-duration: 0.5s;
    border-radius: 5px;
    font-size: 1em;
}

.button button:hover {
    cursor: pointer;
    background-color: rgba(95, 95, 95, 0.712);
}

button a:link {
    color: black;
    text-decoration: none;
}

button a:visited {
    color: black;
}

button a:hover {
    color: black;
}

button a:active {
    color: black;
}

.bottomContainer {
    background-color: #FFDEE9;
    background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
    padding-top: 10vh;
}

#bottom {
    width: 75vw;
}

.col-xl-12 {
    padding-bottom: 5vh;
}

.col-xl-12 p {
    text-align: center;
}

.pollButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-poll {
    border: 0;
    border-radius: 0;
    padding: 2.5vh 2.5vw;
    transition-duration: 0.5s;
    font-family: 'Roboto Slab', serif;
}

.btn-poll:hover {
    cursor: pointer;
    background-color: rgba(201, 201, 201, 0.712);
}

.brandLogo {
    height: 100%;
    width: 100%;
}

form{
    padding: 10vh 0;
    width: 60vw;
    margin: 0 auto;
}

.footer {
    padding: 10vh 0 2vh 0;
    background-color: #6830c3e3;
}

.container {
    padding: 2vh 0;
}

ion-icon:hover {
    color: rgb(67, 67, 255);
    cursor: pointer;
}

.brandName {
    font-family: 'Roboto Slab', serif;
    display: inline;
    float: right;
}

.supportContainer {
    /* background-color:red; */
    margin: 0 auto;
}

.copyright {
    text-align: center;
}

@media (max-width: 768px) {
    .banner {
        height: 90vh;
    }
    .influencer {
        width: 100%;
        height: 100%;
    }
    .facts {
        width: 65vw;
    }
    .button button {
        width: 50vw;
    }
    .btn-poll {
        padding: 2.5vh 10vw
    }
    .mainText {
        padding-top: 10vh;
        font-size: 2.5rem;
    }
    .smallText {
        font-size: 1rem;
    }
}